body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    height: 92vh;
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #3d3d42;
    background: #201f1f;
    width: 70%;
    margin: 4%;
}

.quote{
    border: 1px solid #3d3d42;
    font-size: 2rem;
    text-align: center;
    color: #7e7e85;
}

.author{
    border: 1px solid #3d3d42;
    color: #7e7e85;
    font-size: 2rem;
    text-align: center;
}
button{
    background: #50555a;
    color: #8d8d8f;
    padding: 16px 26px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 0;
}

.button{
    text-align: center;
    margin-bottom: 20px;
}